@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat+Alternates&family=Roboto+Slab&display=swap');

  
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Inter', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto Slab', serif; */
}

:root {
  --grey-100: #f2f2f2;
  --light:#f0f7fa;
  --grey-200: #e8e8e8;
  --grey-500: #a3a3a3;
  --grey-600: #8f8f8f;
  --grey-700: #7a7a7a;
  --grey-900: #262626;
  --grey-800: #666;
  --primary-100: #8fafeb;
  --primary-400: #6689d0 ;
  --primary-600:#4876c5 ; 
  --primary-700: #19408f;
  --primary-800:#073fb8 ;
  --black: #000;
  --white: #fff;
  --box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);

}
